@font-face {
    src: url(CursedTimerUlil-Aznm.ttf);
    font-family: "CursedTimerUlil";
}

body {
    margin: 0;
    background-image: url("court.jpg");
    background-size: cover;
    box-sizing: border-box;

}


.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.team-name {
    text-shadow: 0 0 1px black;
    margin-top: -15px;
}

.home-div {
    background:linear-gradient(#001d3d,#003566);
    text-align: center;
    padding: 30px 30px 20px;
    border-radius: 5px;

}

.guest-div {
    background:linear-gradient(#001d3d,#003566);
    text-align: center;
    padding: 30px 30px 20px;
    border-radius: 5px;

}

.score {
    margin-top: -45px;
    margin-bottom: -45px;
    background-color: black;
    font-size: 50px;
    color: #F94F6D;
    font-family: "CursedTimerUlil",sans-serif;
}

.score p {
    line-height: 60px;
    text-align: center;
}

button {
    text-shadow: 0 0 1px black;
    background-color: transparent;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    font-family: "CursedTimerUlil",sans-serif;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: -7px;
    text-align: center;
    font-weight: lighter;
    font-size: 10px;
}
